# ST590: Project 1

### Authors: George Bridges and Ashley Ko
### Date: 2/13/2022

#### Introduction

#### Data frame creation

In [ ]:
#Importing pandas as pd
import pandas as pd

#import numpy as np
import numpy as np

#Setting options to display full data frame rows
#pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
#Reading in bikeDetails data set using pandas
bike_data = pd.read_csv("bikeDetails.csv")

In [ ]:
#Displays the first 5 observations from the bike_data data set
bike_data.head()

In [ ]:
# Adding
bike_data.name = bike_data.name.astype("category")
bike_data.seller_type = bike_data.seller_type.astype("category")
bike_data.owner = bike_data.owner.astype("category")
bike_data['year_cat'] = pd.cut(bike_data.year,
                               bins = [1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018, 2022],
                               right = False, include_lowest = True)
#bike_data['year_int'] = bike_data.year - 1988 + 1

In [ ]:
bike_data.dtypes

#### EDA

## Ashley's EDA

In [ ]:
bike_data['year_cat'].value_counts(dropna = False)

In [ ]:
bike_data['seller_type'].value_counts(dropna = False)

In [ ]:
bike_data['owner'].value_counts(dropna = False)

In [ ]:
pd.crosstab([bike_data.seller_type, bike_data.year_cat], bike_data.owner, margins = True,
           dropna = False)

In [ ]:
pd.crosstab(bike_data.year_cat, bike_data.seller_type, dropna = True)
pd.crosstab(bike_data.year_cat, bike_data.owner, dropna = True)
#pd.crosstab(bike_data.seller_type, bike_data.owner, dropna = True)

In [ ]:
pd.pivot_table(bike_data, values = ["selling_price", "ex_showroom_price", "km_driven"],
               index = ["seller_type"], aggfunc = ("min", "max", "mean", "std")).round(2)
# pd.pivot_table(bike_data, values = ["selling_price", "ex_showroom_price", "km_driven"],
#               index = "owner", aggfunc = ["mean", "std", "q25", "median", "q75"])

In [ ]:
pd.pivot_table(bike_data, values = ["selling_price", "ex_showroom_price", "km_driven"],
               index = ["owner"], aggfunc = ("min", "max", "mean", "std")).round(2)

In [ ]:
pd.pivot_table(bike_data, values = ["selling_price", "ex_showroom_price", "km_driven"],
               index = ["year_cat"], aggfunc = ("min", "max", "mean", "std")).round(2)

In [ ]:
max_selling = bike_data.groupby("year")\
.agg(
    max_selling = ("selling_price", max), 
    median_sellling = ("selling_price", np.median),
    min_selling = ("selling_price", min), 
)
max_selling.plot.line()

In [ ]:
pd.plotting.scatter_matrix(bike_data)

## George's EDA

In [ ]:
#using the .describe() method to get a first look at the numeric variables in the dataset. Although you would not necessarily perform math on the listed years for each bike, seeing info like the average year is meaningful.
bike_data.describe().round(2)

In [ ]:
bike_data.columns
#note: our columns are name, selling_price, year, seller_type, owner, km_driven, and ex_showroom_price

In [ ]:
#bike_data_numeric = bike_data['selling_price', 'km_driven', 'ex_showrooom_price']

#previously I tried to do what I was doing above exactly in the way he does it
#in the video and got the same error

#Fixed to grab desired columns from bike_data for all rows
bike_data_numeric = bike_data.loc[:, ['selling_price', 'year', 'km_driven', 'ex_showroom_price']]

In [ ]:
#finding mean and median of all the numeric variables using the .mean and .median methods
bike_data['selling_price'].mean()

In [ ]:
bike_data['selling_price'].median()

In [ ]:
bike_data['km_driven'].mean()

In [ ]:
bike_data['km_driven'].median()

In [ ]:
bike_data['ex_showroom_price'].mean()

In [ ]:
bike_data['ex_showroom_price'].median()

In [ ]:
#similarly finding standard deviations of the numeric variables
bike_data.selling_price.std()

In [ ]:
bike_data.km_driven.std()

In [ ]:
bike_data.ex_showroom_price.std()

In [ ]:
#similarly finding more fine-tuned quantiles
bike_data.selling_price.quantile(q = [.05, .10, .15, .20, .25,
                                      .30, .35, .40, .45, .50,
                                      .55, .60, .65, .70, .75,
                                      .80, .85, .90, .95])

In [ ]:
bike_data.km_driven.quantile(q = [.05, .10, .15, .20, .25,
                                  .30, .35, .40, .45, .50,
                                  .55, .60, .65, .70, .75,
                                  .80, .85, .90, .95])

In [ ]:
bike_data.ex_showroom_price.quantile(q = [.05, .10, .15, .20, .25,
                                          .30, .35, .40, .45, .50,
                                          .55, .60, .65, .70, .75,
                                          .80, .85, .90, .95])

In [ ]:
#interquartile range for selling_price
q1 = bike_data.selling_price.quantile(q = [.25])
q3 = bike_data.selling_price.quantile(q = [.75])
q1
q3
q3[.75] - q1[.25]

In [ ]:
#finding correlation between the numeric variables in the data set
bike_data_numeric.corr().round(3)

We see that selling_price and ex_showroom_price are highly correlated, in fact even more highly correlated than I anticipated or what it looked like from a cursory look at the data. They in fact boast a roughly 92% correlation with one another. Also, selling_price and km_driven are negatively correlated as one would expect (the more use a vehicle has the lower the price all else being equal). Insofar as it is meaningful the positive correlation shown between year and selling_price also makes sense because a larger number for year represents a newer vehicle. One might expect that until a bike is so old as to be considered a collector's item or an antique that an older bike would be worth less.

In [ ]:
bike_data.drop(["year"], axis = 1).groupby("seller_type").mean().round(2)

In [ ]:
bike_data.drop(["year"], axis = 1).groupby("owner").mean().round(2)

We can see that dealers tend to sell their bikes for about 13,000 dollars less than individuals do as well as sell slightly older bikes that have been ridden a little farther. Very interestingly, in the second set of grouped means we see that by far the most lucrative sales occur by the 4th owner. Intuitively one might expect a bike that has been sold at least three times before might be worth less, but that is clearly not the case. This owner status, particularly in the case of "4th owner" could be a powerful predictive attribute.

In [294]:
bike_data.drop(["year"], axis = 1).groupby("year_cat").mean().round(2)

              selling_price  km_driven  ex_showroom_price
year_cat
[1986, 1990)       20000.00   21000.00                NaN
[1990, 1994)       68000.00   22500.00                NaN
[1994, 1998)       61666.67  237118.00                NaN
[1998, 2002)       25416.67   35291.67           54852.00
[2002, 2006)       16660.87   48774.61           54852.00
[2006, 2010)       26420.00   64704.50           63979.61
[2010, 2014)       39083.28   45209.90           83425.72
[2014, 2018)       62245.90   29615.22           85457.47
[2018, 2022)      101485.49   11998.03          106332.10

#### Prediction of Selling Price

##### Grid Search Algorithm

##### Gradient Descent Algorithm

#### Conclusion