# Project 1

In [ ]:
#Importing pandas as pd
import pandas as pd

#Setting options to display full data frame rows
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
#Reading in bikeDetails data set using pandas
bike_data = pd.read_csv("bikeDetails.csv")

In [ ]:
#Displays the first 5 observations from the bike_data data set
bike_data.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

## Ashley's EDA

## George's EDA

In [ ]:
#using the .describe() method to get a first look at the numeric variables in the dataset. Although you would not necessarily perform math on the listed years for each bike, seeing info like the average year is meaningful.
bike_data.describe()

       selling_price         year      km_driven  ex_showroom_price
count    1061.000000  1061.000000    1061.000000       6.260000e+02
mean    59638.151744  2013.867107   34359.833176       8.795871e+04
std     56304.291973     4.301191   51623.152702       7.749659e+04
min      5000.000000  1988.000000     350.000000       3.049000e+04
25%     28000.000000  2011.000000   13500.000000       5.485200e+04
50%     45000.000000  2015.000000   25000.000000       7.275250e+04
75%     70000.000000  2017.000000   43000.000000       8.703150e+04
max    760000.000000  2020.000000  880000.000000       1.278000e+06

In [ ]:
bike_data.columns
#note: our columns are name, selling_price, year, seller_type, owner, km_driven, and ex_showroom_price

Index(['name', 'selling_price', 'year', 'seller_type', 'owner', 'km_driven',
       'ex_showroom_price'],
      dtype='object')

In [66]:
#bike_data_numeric = bike_data['selling_price', 'km_driven', 'ex_showrooom_price']

#previously I tried to do what I was doing above exactly in the way he does it
#in the video and got the same error

#Fixed to grab desired columns from bike_data for all rows
bike_data_numeric = bike_data.loc[:, ['selling_price', 'km_driven', 'ex_showroom_price']]

bike_data_numeric

      selling_price  km_driven  ex_showroom_price
0            175000        350                NaN
1             45000       5650                NaN
2            150000      12000           148114.0
3             65000      23000            89643.0
4             20000      21000                NaN
5             18000      60000            53857.0
6             78500      17000            87719.0
7            180000      39000                NaN
8             30000      32000                NaN
9             50000      42000            60122.0
10            35000      32000            78712.0
11            28000      10000            47255.0
12            80000      21178            95955.0
13           365000       1127           351680.0
14           185000       1700                NaN
15            25000      55000            58314.0
16            25000      27000                NaN
17            40000      45000           117926.0
18           150000      23000           148114.0
19           120000      39000           132680.0
20            15000      60000                NaN
21            26000      17450            44389.0
22            32000      20696            53900.0
23           180000       2000                NaN
24           110000      20000                NaN
25            25000      35000            56147.0
26            80000      15210                NaN
27            42000      24000            44389.0
28            40000      35000            84751.0
29            21000      10000                NaN
30            55000       2500            61600.0
31            38000      75000            79432.0
32            43000      50000            78350.0
33            65000      27000                NaN
34            62000      10000            71049.0
35            60000       6502            57557.0
36            45000      21000            61600.0
37           120000      16000           202310.0
38            30000      42000                NaN
39            90000      13000                NaN
40           125000      12800                NaN
41            50000      20000            71150.0
42           175000       4600                NaN
43            28000      81000            56750.0
44            85000       8000            84042.0
45            29900      55000            69750.0
46            25000      57000            60122.0
47            30000      26000            78712.0
48            60000      13000            59844.0
49            35000      29000            78712.0
50            25000      43000            42859.0
51            30000      40000            73413.0
52            90000      40000                NaN
53            35000      24000            49900.0
54            70000       3000            59422.0
55            25000      75000                NaN
56            25000      42000                NaN
57            90000      13000                NaN
58            25000      55000            57549.0
59            42000      23000                NaN
60            35000      24000            51994.0
61            50000      80000            80350.0
62            30000      39000            54605.0
63            48000      20000            78712.0
64            65000      30000            88161.0
65            85000      21000                NaN
66            45000      41000            78513.0
67            34000       8000            50098.0
68            90000      50000                NaN
69            35000       8150                NaN
70           165000       1933           195500.0
71            35000      55750                NaN
72            65000      15856            92074.0
73            29500      27000                NaN
74           165000       3700           164004.0
75            95000      21938                NaN
76            50000      48000                NaN
77             7500      16000                NaN
78            25000      54000                NaN
79            35000      35000                NaN
80           160000      15000                NaN
81            50000      32000            74295.0
82            62000       3500            57557.0
83            30000       9000            53857.0
84            28000      38000            49642.0
85            25000      50000                NaN
86            30000      20000            51112.0
87           140000      22000           148114.0
88            30000       9432            53751.0
89            25000      70000                NaN
90            22000      43000            58314.0
91            22989     500000            50267.0
92            42000      30514            61653.0
93            30000     130000            70851.0
94            55000      45000                NaN
95            45000      25000            53079.0
96           150000       2500           133680.0
97            42000      22770                NaN
98            30000      30000                NaN
99            24999      35000            42859.0
100          160000       6330                NaN
101          175000        500                NaN
102           40000      43400                NaN
103           85000       7004                NaN
104          150000      16500           181445.0
105           80000      12500                NaN
106           95000       9600                NaN
107           42000      35000            65626.0
108           40000      11000                NaN
109           50000      20000            84042.0
110           40000      13000                NaN
111           75000       3500                NaN
112          120000       9000           132680.0
113           30000       7500                NaN
114           17500      38000            58438.0
115            7500     120000                NaN
116           57000       6465            61118.0
117           80000      18803                NaN
118           18000      20000                NaN
119           25000      24000            75936.0
120           83900      22000                NaN
121          160000       7000           180525.0
122          135000       6100           148114.0
123           55000      14000            87543.0
124           50000      23000                NaN
125           20000      85000            42859.0
126           25000      40000                NaN
127          125000      18000                NaN
128           55000      10000            57557.0
129           50000      40000            80435.0
130          299000       1500                NaN
131           60000      30000            54605.0
132           40000       3000            54605.0
133           15000      55000            85011.0
134          750000      12000          1278000.0
135           20000      90000                NaN
136          190000        500           155740.0
137          130000      50000           202127.0
138           54786      25000            88161.0
139           72000      36500                NaN
140           35000      26000            86744.0
141           45000      18000            61600.0
142           85000      49000                NaN
143          100000      18000           156304.0
144          138000      15000                NaN
145          150000       8500                NaN
146          180000       3775                NaN
147          100000      14500                NaN
148           20000      35000            78513.0
149          170000      14000                NaN
150           60000      16000            84246.0
151          123000       7000                NaN
152           60000       4000                NaN
153          100000      45000                NaN
154           22000      99000            78350.0
155           30000      52000            50267.0
156           28000      45000            60122.0
157           50000      52000                NaN
158           40000      27000            49521.0
159           43000      60000                NaN
160           40000       2300                NaN
161          100000      15000           181445.0
162           30000      50000                NaN
163          130000      27000                NaN
164           48000      25000            88161.0
165           32000      40000                NaN
166           23000      32000                NaN
167           20000      50000            64589.0
168          125000      36000                NaN
169           23000      17450            44389.0
170           15000      32000            57549.0
171           35000      38000            69983.0
172           25000      71000            54299.0
173           80000       8000                NaN
174           15000      12000                NaN
175           45000      50000            72303.0
176           25000      30000            65800.0
177           35000      15888            58757.0
178           25000      26000            47032.0
179          170000       5600                NaN
180           25000      41000            50267.0
181           60000      19612                NaN
182           41000      17000                NaN
183           35000      33700                NaN
184           75000     100000            79233.0
185           47999       6000            54605.0
186           36999      21000                NaN
187           25000      80000            85011.0
188           60000      15000                NaN
189           50000      46000            74295.0
190           65000      11000           118997.0
191           12000      72000                NaN
192           60000      50000            92074.0
193           20000      50000            50267.0
194           27000      67000            78712.0
195           10000      30000                NaN
196           56000      48000                NaN
197           58000      48000                NaN
198           87000       8000                NaN
199           35000      15500            52949.0
200           35000      45000            85011.0
201           40000      60855            64071.0
202           56000      37714            64589.0
203           30000      60000            85011.0
204           40000      26000            61545.0
205           60000       6000                NaN
206           40000      30000            86744.0
207           40000      17000                NaN
208          130000      34601           168482.0
209           45000      48000            92074.0
210           42000      60000            79432.0
211           25000      44000                NaN
212           15000      55000                NaN
213          170000      16000           163331.0
214           38000      20000            59095.0
215           60000      17500            84042.0
216           65000      46000                NaN
217           35000      30000            75502.0
218           70000       6500                NaN
219           15000      80000                NaN
220           50000      10000            52271.0
221          145000       2200                NaN
222           25000      40000            78712.0
223           58000      21000            80350.0
224           90000       3500                NaN
225            9000      66191                NaN
226           40000      50000            63331.0
227           28000      32800            52372.0
228           50000      32000            80435.0
229           56000       3900            58630.0
230           35000      10000            50267.0
231           95000       9600                NaN
232           30000      46782                NaN
233           95000       8000            94703.0
234           40000      11000            53436.0
235           30000      51000            86744.0
236           18000      45000            47032.0
237           14000      66000            59183.0
238           17000      50000                NaN
239          125000      23500                NaN
240           20000      25000                NaN
241           50000      41000            56925.0
242          210000      12000                NaN
243           70000      33000                NaN
244           40000      15000            55980.0
245           10000      50000                NaN
246           35000      40000                NaN
247           10000      50000                NaN
248           42000      20000            54605.0
249           20000      50000            78712.0
250           25000      55000            52790.0
251           25000      70350            60122.0
252          145000       2700           164004.0
253           50000      20000                NaN
254           30000      20000                NaN
255           60000      41311            81508.0
256           15000      65000                NaN
257           15000      34000                NaN
258           25000      20000                NaN
259           54000      11000                NaN
260           25000      75000                NaN
261          260000       1200                NaN
262          100000      19000           199275.0
263           15000      30000                NaN
264           20000      23000                NaN
265           35000      10000            56147.0
266           50000      40000            87042.0
267           90000       8600           107500.0
268           40000      45000            67187.0
269           80000       7200            95955.0
270           20000      31195                NaN
271           70000      18000            74295.0
272           98000       1000                NaN
273           75000      17000                NaN
274           50000      46000            67214.0
275           40000      77592            74295.0
276           75000      54000            74295.0
277           50000      17000            74295.0
278           60000      60000                NaN
279           50000      40000                NaN
280           35000      25000                NaN
281          160000      19000                NaN
282           25000      40000            49412.0
283           42000      51000                NaN
284          200000       7600                NaN
285           40000      14965                NaN
286          130000      25000           181445.0
287          195000       6000                NaN
288          270000       2380                NaN
289          425000      13600           599000.0
290           85000      10000                NaN
291          125000      21000           317934.0
292           45000      10000            54760.0
293           85000      18600           171646.0
294           85000       7750                NaN
295          760000       2800           752020.0
296          100000      30000                NaN
297           95000       9800                NaN
298           48000      25000            67469.0
299           40000      29689            80435.0
300           37000      43000            58757.0
301           38000      28243            75502.0
302           55000      25000            78316.0
303           45000      22300                NaN
304           18000      33595            44140.0
305          140000       5505                NaN
306           70000       5000                NaN
307           15000      30000                NaN
308           65000      16000                NaN
309           42000      22000            57557.0
310           58000      40000                NaN
311          330000       6500           534000.0
312           35000      15000            72973.0
313          162000      17365                NaN
314           28000      40000                NaN
315          285000       5500                NaN
316          125000      33900                NaN
317           15000      47670                NaN
318           29500      45000            50267.0
319          200000       5000                NaN
320          160000       5700                NaN
321           30000      22866                NaN
322          110000      10000           133680.0
323           70000      31000                NaN
324           69000       1600            57112.0
325           30000      44000            78712.0
326           30000      70000            78712.0
327           42000      21000                NaN
328          160000      17365                NaN
329           20000      80000            64589.0
330           45000      15000                NaN
331           23000      77000            64589.0
332          140000      40000           180525.0
333           12000      48000                NaN
334           50000      18000            56925.0
335          140000      20000                NaN
336           55000       9000            59422.0
337           45000      56000            54500.0
338           25000      50000                NaN
339           90000      12000                NaN
340          120000      11500                NaN
341          120000      20000                NaN
342           35000      20000            66492.0
343           35000      27000                NaN
344          300000       2500           349000.0
345           87000      20477                NaN
346           18000      35700                NaN
347           50000      70000            84042.0
348           60000      29000            95955.0
349           15000      14500                NaN
350           30000      37000                NaN
351          160000       3246                NaN
352           50000      27000            74295.0
353           62000      15000            78316.0
354           45000      15000                NaN
355          120000       4050                NaN
356          125000      25000           190874.0
357           50000       5000            80821.0
358           30000       5000                NaN
359           40000      14000            51600.0
360           41000      36500            63537.0
361          120000       9000                NaN
362           35000      33200            67722.0
363           10000     646000                NaN
364           35000      25000                NaN
365           38000      26000            69750.0
366           50000       3909            77900.0
367           40000       7672            54605.0
368           70000       3000            55600.0
369          140000       3654                NaN
370           26500      40000            53830.0
371           38000       5500            61600.0
372           60000      29950            78712.0
373          145000      14000                NaN
374           78000      26100            84480.0
375           58000       6000            54580.0
376          130000       4000           132680.0
377           20000      50000            54852.0
378          150000       5475           163331.0
379           32000      40000            85011.0
380           50000      20500            85011.0
381          120000       4100                NaN
382           60000      23097            80435.0
383           20000      37734            44756.0
384           65000      65000                NaN
385           70000       8000           117926.0
386           35000      13500            81508.0
387           95000      23000            95955.0
388            8000      58000                NaN
389           85000      15000                NaN
390           65000      29000            69750.0
391           39000      20000                NaN
392           45000      35000            50280.0
393           60000      45137            80435.0
394          160000       7500           204977.0
395           35000      35600                NaN
396           40000      15000            64589.0
397           40000       7353            84751.0
398           56000      13200            87543.0

In [ ]:
#finding mean and median of all the numeric variables using the .mean and .median methods
bike_data['selling_price'].mean()

59638.151743638075

In [ ]:
bike_data['selling_price'].median()

45000.0

In [ ]:
bike_data['km_driven'].mean()

34359.83317624882

In [ ]:
bike_data['km_driven'].median()

25000.0

In [ ]:
bike_data['ex_showroom_price'].mean()

87958.71405750798

In [ ]:
bike_data['ex_showroom_price'].median()

72752.5

In [ ]:
#similarly finding standard deviations of the numeric variables
bike_data.selling_price.std()

56304.29197302419

In [ ]:
bike_data.km_driven.std()

51623.15270159632

In [ ]:
bike_data.ex_showroom_price.std()

77496.5871894531

In [ ]:
#similarly finding more fine-tuned quantiles
bike_data.selling_price.quantile(q = [.05, .10, .15, .20, .25, .30, .35, .40, .45, .50, .55, .60, .65, .70, .75, .80, .85, .90, .95])

0.05     15000.0
0.10     20000.0
0.15     23000.0
0.20     25000.0
0.25     28000.0
0.30     30000.0
0.35     35000.0
0.40     38000.0
0.45     40000.0
0.50     45000.0
0.55     47000.0
0.60     50000.0
0.65     58000.0
0.70     62000.0
0.75     70000.0
0.80     80000.0
0.85    100000.0
0.90    120000.0
0.95    150000.0
Name: selling_price, dtype: float64

In [1]:
bike_data.km_driven.quantile(q = [.05, .10, .15, .20, .25, .30, .35, .40, .45, .50, .55, .60, .65, .70, .75, .80, .85, .90, .95])

0.05     3500.0
0.10     6000.0
0.15     8000.0
0.20    10950.0
0.25    13500.0
0.30    15000.0
0.35    17500.0
0.40    20000.0
0.45    22000.0
0.50    25000.0
0.55    28000.0
0.60    31000.0
0.65    35000.0
0.70    39448.0
0.75    43000.0
0.80    49000.0
0.85    52500.0
0.90    65000.0
0.95    80000.0
Name: km_driven, dtype: float64

In [ ]:
bike_data.ex_showroom_price.quantile(q = [.05, .10, .15, .20, .25, .30, .35, .40, .45, .50, .55, .60, .65, .70, .75, .80, .85, .90, .95])

0.05     47277.00
0.10     50267.00
0.15     52203.25
0.20     54299.00
0.25     54852.00
0.30     57549.00
0.35     59362.25
0.40     61653.00
0.45     65669.50
0.50     72752.50
0.55     75936.00
0.60     78712.00
0.65     81508.00
0.70     84751.00
0.75     87031.50
0.80     94000.00
0.85    117926.00
0.90    147000.00
0.95    181445.00
Name: ex_showroom_price, dtype: float64

In [ ]:
#interquartile range for selling_price
q1 = bike_data.selling_price.quantile(q = [.25])
q3 = bike_data.selling_price.quantile(q = [.75])
q1
q3
q3[.75] - q1[.25]

42000.0

In [ ]:
#finding correlation between the numeric variables in the data set
bike_data.corr()

                   selling_price      year  km_driven  ex_showroom_price
selling_price           1.000000  0.402188  -0.212937           0.918583
year                    0.402188  1.000000  -0.288675           0.126378
km_driven              -0.212937 -0.288675   1.000000          -0.122011
ex_showroom_price       0.918583  0.126378  -0.122011           1.000000

We see that selling_price and ex_showroom_price are highly correlated, in fact even more highly correlated than I anticipated or what it looked like from a cursory look at the data. They in fact boast a roughly 92% correlation with one another. Also, selling_price and km_driven are negatively correlated as one would expect (the more use a vehicle has the lower the price all else being equal). Insofar as it is meaningful the positive correlation shown between year and selling_price also makes sense because a larger number for year represents a newer vehicle. One might expect that until a bike is so old as to be considered a collector's item or an antique that an older bike would be worth less.

In [ ]:
bike_data.groupby("seller_type").mean()

             selling_price         year     km_driven  ex_showroom_price
seller_type
Dealer        46666.666667  2011.000000  35258.833333       88536.000000
Individual    59711.923223  2013.883412  34354.720379       87955.934189

In [ ]:
bike_data.groupby("owner").mean()

           selling_price         year      km_driven  ex_showroom_price
owner
1st owner   60022.813853  2014.200216   32816.583333       84362.796763
2nd owner   55666.658537  2012.056911   39288.991870      112554.651515
3rd owner   55727.272727  2007.818182   33292.181818       64611.000000
4th owner  118333.333333  2007.666667  311500.000000      534000.000000

We can see that dealers tend to sell their bikes for about 13,000 dollars less than individuals do as well as sell slightly older bikes that have been ridden a little farther. Very interestingly, in the second set of grouped means we see that by far the most lucrative sales occur by the 4th owner. Intuitively one might expect a bike that has been sold at least three times before might be worth less, but that is clearly not the case. This owner status, particularly in the case of "4th owner" could be a powerful predictive attribute.